{% extends 'base.html' %}

{% block content %}


<!-- banner  -->
 <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='images/pic.jpg')}}" class="d-block w-100 " alt="image1">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/pic.jpg')}}" class="d-block w-100" alt="image2">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='images/pic.jpg')}}" class="d-block w-100" alt="image3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="container w-50">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
  <h1 class="text-center my-5">
    welcome {{ name }} to our website
  </h1>

{% if session["user_id"] %}
 
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Marks</th>
      <th scope="col">DOB</th>
      <th scope="col">Address</th>
      <th scope="col">Profile Picture</th>
      <th scope="col">Resume</th>
      <th scope="col">Active</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.marks }}</td>
      <td>{{ student.dob }}</td>
      <td>{{ student.address }}</td>
      <td>
        {% if student.profile_pic %}
          <img src="{{ url_for('static', filename='uploads/profile_pics/' + student.profile_pic) }}" alt="Profile Picture"  style="height: 50px;">
        {% else %}
          No profile picture
        {% endif %}
      </td>
      <td>
        {% if student.resume %}
          <a href="{{ url_for('static', filename='uploads/resumes/' + student.resume) }}" target="_blank">View Resume</a>
        {% else %}
          No resume available
        {% endif %}
      </td>
      <td>{{ student.is_active }}</td>
      <td>
        <button class="btn btn-primary btn-sm">Edit</button>
        <a href="{{ url_for('delete_student', student_id=student.id) }}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% else %}
  <h4 class="text-center my-5">Please login to view the student list</h4>
{% endif %}


</div>


{% endblock %}